<section id="search" class="search-wrap">
    <h1>Procure um Livro que gosta</h1>
    <form action="/livros/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="Sitio do picapau amarelo, etc...">
      <input type="submit" value="Procurar">
    </form>
  </section>
